<div class="conteudo">
  <h2>CADASTRE-SE</h2>
  <form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="novoCadastro.nome" name="nome" placeholder="Nome de usuário" required>
    <input [(ngModel)]="novoCadastro.email" name="email" placeholder="Digite o Email" required>
    <input [(ngModel)]="novoCadastro.senha" name="senha" type="password" placeholder="Digite a Senha" required>
    <button class="cadastro" type="submit">Cadastrar</button>
  </form>
  <br>
  <p>---------------------------- ou ----------------------------</p>
  <button class="login" routerLink="/login">Login</button>
</div>
